.textPstyle{
    float:left;margin-top: 5px;
}
.btnInfo{
  float:right;margin-bottom: 15px;
}
.el-transfer-panel{
  width: 42%;
}
.el-transfer-panel__list.is-filterable {
min-height: 860px;
}
.el-transfer-panel__body {
min-height: 900px;
}
.el-transfer-panel__item {
height:auto;
}
.descriptionStyle{
background-color:cornflowerblue;
color: white;
}
