.player__content .btn .material-icons {
    font-size: 30px
}

.embed-responsive-item .img-video img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.retingform .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    position: relative
}

.retingform .rating-0 {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.retingform .rating > input {
    display: none
}

.retingform .rating > label {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.retingform .rating > input:checked ~ label, .retingform .rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e")
}

.retingform .rating > input:not(:checked) ~ label:hover, .retingform .rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e")
}

.retingform .emoji-wrapper {
    width: 100%;
    text-align: center;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.retingform .emoji-wrapper:before, .retingform .emoji-wrapper:after {
    content: "";
    height: 15px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1
}

.retingform .emoji-wrapper:before {
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(35%, #fff), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to bottom, #fff 0%, #fff 35%, rgba(255, 255, 255, 0) 100%)
}

.retingform .emoji-wrapper:after {
    bottom: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(35%, #fff), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to top, #fff 0%, #fff 35%, rgba(255, 255, 255, 0) 100%)
}

.retingform .emoji {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.retingform .emoji > svg {
    margin: 15px 0;
    width: 70px;
    height: 70px;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.retingform #rating-1:checked ~ .emoji-wrapper > .emoji {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px)
}

.retingform #rating-2:checked ~ .emoji-wrapper > .emoji {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px)
}

.retingform #rating-3:checked ~ .emoji-wrapper > .emoji {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px)
}

.retingform #rating-4:checked ~ .emoji-wrapper > .emoji {
    -webkit-transform: translateY(-400px);
    transform: translateY(-400px)
}

.retingform #rating-5:checked ~ .emoji-wrapper > .emoji {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px)
}

.retingform .feedback {
    background-color: #fff;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05)
}

.contact-page .pb-100 {
    padding-bottom: 100px
}

.contact-page .pt-100 {
    padding-top: 100px
}

.contact-page .mb-100 {
    margin-bottom: 100px
}

.contact-page a {
    text-decoration: none;
    color: #333;
    -webkit-transition: .4s;
    transition: .4s
}

.contact-page .section-title {
    position: relative
}

.contact-page .section-title p {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400
}

.contact-page .section-title h4 {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 20px;
    display: inline-block
}

.contact-page .section-title h4::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #d8d8d8;
    bottom: 0;
    left: 50%;
    margin-left: -40px
}

.contact-page .section-title h4::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #FF7200;
    left: 0;
    bottom: 0;
    left: 50%;
    margin-left: -25px
}

.contact-page .contact {
    background-image: url("../../images/contact_back.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    color: #fff
}

@media (max-width: 767px) {
    .contact-page .contact-form {
        margin-bottom: 30px
    }
}

.contact-page .contact-form input, .contact-page textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 5px 10px;
    text-transform: capitalize;
    margin-top: 15px;
    background-color: transparent;
    color: #fff
}

.contact-page .contact:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #303840;
    z-index: -1;
    opacity: .85
}

.contact-page .single-contact {
    text-align: left;
    position: relative;
    padding-left: 70px;
    margin-bottom: 50px;
    margin-top: 10px;
    color: #fff
}

.contact-page .single-contact i.fa {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #FF7200;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px
}

.contact-page .single-contact h5 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500
}

.contact-page .single-contact p {
    font-size: 15px;
    font-weight: 400
}

.contact-page .contact-form input[type="submit"] {
    background-color: #FF7200;
    border: 0px;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition: .4s;
    transition: .4s
}

.contact-page .contact-form input[type="submit"]:hover {
    background-color: #CC5B00
}

.contact-page .contact-form input:focus, .contact-page textarea:focus {
    border-color: #CC5B00
}

.sugget-search {
    padding-top: 14px;
    right: 0;
    width: 200%
}

.sugget-search .sugget-item img {
    width: 60px;
    height: 60px;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 5px 0
}

.sugget-search ul {
    -webkit-box-shadow: 0 6px 6px -3px rgba(39, 44, 51, 0.1), 0 10px 14px 1px rgba(39, 44, 51, 0.04), 0 4px 18px 3px rgba(39, 44, 51, 0.02);
    box-shadow: 0 6px 6px -3px rgba(39, 44, 51, 0.1), 0 10px 14px 1px rgba(39, 44, 51, 0.04), 0 4px 18px 3px rgba(39, 44, 51, 0.02);
    max-height: 300px;
    overflow-y: auto;
    border-radius: 2px
}

.sugget-search ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #f5f5f5
}

.sugget-search ul::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5
}

.sugget-search ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #ccc
}

.sugget-search ul li:not(:last-child) {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #d8d8d8
}
/*css filter course detail*/
.box-product-variants {
    margin-bottom: 5px;
}
.box-product-variants .box-title p {
    font-size: 14px;
    font-weight: 700;
    color: #444;
    margin-bottom: 10px;
}
.box-product-variants .list-variants{
    padding: unset;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box-product-variants .list-variants .item-variant {
    width: calc(50% - 4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px;
    padding: 5px 4px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    background: #fff;
    font-size: 12px;
    text-decoration: none;
    color: #444;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.is-flex-direction-column {
    flex-direction: column!important;
}
.box-product-variants .list-variants .item-variant a strong {
    color: #444;
}
.box-product-variants .list-variants .item-variant strong {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.box-product-variants .list-variants .item-variant a span {
    color: #444;
    font-weight: bold;
}
.box-product-variants .list-variants .item-variant.active {
    border: 1px solid #ed0b4c;
    background-color: #ed0b4c;
}
.box-product-variants .list-variants .item-variant.active a .is-flex-direction-column span, .box-product-variants .list-variants .item-variant.active a .is-flex-direction-column strong {
    color: #fff;
}
.is-flex {
    display: flex!important;
}

.is-align-items-center {
    align-items: center!important;
}
/*# sourceMappingURL=customs.css.map */