.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.popup-overlay {
    position: absolute;
    background: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.popup-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.popup-relative {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 15px;
}
.popup-relative::-webkit-scrollbar-track {
    display: none;
}
.popup-relative::-webkit-scrollbar {
    display: none;
}
.popup-relative::-webkit-scrollbar-thumb {
    display: none;
}
.popup-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 3rem);
    margin: 1.5rem auto;
    transform: translateY(10%);
    transition: transform 0.4s;
}
.popup-content.active {
    transform: translateY(0);
    transition: transform 0.4s;
}
.js-close-popup {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 9;
}
.error-message {
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: red;
    margin-top: 10px;
}
small.invalid-feedback {
    position: relative;
    font-size: 14px;
}
.popup-login-regis--main {
    max-width: 445px;
    width: 100%;
    margin: 0 auto
}

.popup-login-regis--main .style--radius-border {
    background: #fff;
    border-radius: 5px;
    overflow: hidden
}

.popup-login-regis--main .navtab {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #828282
}

.popup-login-regis--main .navtab-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 16px
}

@media (max-width: 767px) {
    .popup-login-regis--main .navtab-item {
        font-size: 14px;
        line-height: 18px
    }
}

.popup-login-regis--main .navtab-item.active {
    background: #006ac5;
    color: #fff
}

.popup-login-regis--main .box--login-regis-content {
    padding: 20px
}

@media (max-width: 767px) {
    .popup-login-regis--main .box--login-regis-content {
        padding: 10px
    }
}

.popup-login-regis--main .box--login-regis-content .title--box {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    color: #3a3a3a;
    text-align: center;
    margin-bottom: 20px
}

@media (max-width: 767px) {
    .popup-login-regis--main .box--login-regis-content .title--box {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px
    }
}

.popup-login-regis--main .form--actions .input-name {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    margin-bottom: 5px
}

.popup-login-regis--main .form--actions .input-name .red {
    color: red
}

.popup-login-regis--main .form--actions input {
    display: block;
    width: 100%;
    border: 1px solid #828282;
    border-radius: 3px;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #3a3a3a;
    padding: 8px;
    margin-bottom: 15px
}

.popup-login-regis--main .actions-sub {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px
}

@media (max-width: 991px) {
    .popup-login-regis--main .actions-sub {
        margin-bottom: 20px
    }
}

.popup-login-regis--main .actions-sub #rememberPassword {
    display: inline;
    width: auto;
    margin: 0
}

.popup-login-regis--main .actions-sub label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin: 0
}

.popup-login-regis--main .actions-sub span {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    font-size: 14px;
    color: #848383;
    margin-left: 8px
}

.popup-login-regis--main .actions-sub .action-link {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #006ac5;
    text-decoration: underline
}

.popup-login-regis--main .actions-sub .action-link:hover {
    color: #00b6f0
}

.popup-login-regis--main .btn-submit {
    display: block;
    width: 100%;
    background: #006ac5;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #fff;
    padding: 16px;
    border: unset;
    outline: unset;
    -webkit-transition: all 0.2s;
    transition: all 0.2s
}

@media (max-width: 991px) {
    .popup-login-regis--main .btn-submit {
        font-size: 16px;
        line-height: 19px;
        padding: 8px
    }
}

.popup-login-regis--main .btn-submit:hover, .popup-login-regis--main .btn-submit:focus {
    background: #00b6f0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s
}

.popup-login-regis--main .line--text-center {
    position: relative;
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #848383;
    margin: 60px 0 20px
}

.popup-login-regis--main .line--text-center span {
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 0 15px
}

.popup-login-regis--main .line--text-center::before {
    content: "";
    position: absolute;
    background: currentColor;
    height: 1px;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media (max-width: 991px) {
    .popup-login-regis--main .line--text-center {
        margin: 20px 0
    }
}

@media (max-width: 767px) {
    .popup-login-regis--main .line--text-center {
        font-size: 14px;
        line-height: 16px;
        margin: 15px 0
    }
}

.popup-login-regis--main .social--actions {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 -10px;
    margin-bottom: 30px
}

@media (max-width: 991px) {
    .popup-login-regis--main .social--actions {
        margin-bottom: 15px
    }
}

@media (max-width: 767px) {
    .popup-login-regis--main .social--actions {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        margin: 0
    }
}

.popup-login-regis--main .social--actions > a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    border-radius: 23.5px;
    padding: 4px 6px;
    margin: 0 10px
}

@media (max-width: 767px) {
    .popup-login-regis--main .social--actions > a {
        min-width: 200px;
        margin-bottom: 10px
    }
}

.popup-login-regis--main .social--actions > a:hover {
    -webkit-box-shadow: inset 0 200px 0 #0000003d;
    box-shadow: inset 0 200px 0 #0000003d
}

.popup-login-regis--main .social--actions > a img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px
}

.popup-login-regis--main .social--actions > a.fb-login {
    background: #4a7aff
}

.popup-login-regis--main .social--actions > a.gg-login {
    background: #dd1203
}

.popup-login-regis--main .bottom-methods {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #006ac5;
    background: #f9faff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 12px
}

.popup-login-regis--main .bottom-methods svg {
    margin-left: 5px
}

.popup-login-regis--main .bottom-methods:hover {
    background: #006ac5;
    color: #fff
}

.popup-login-regis--main .bottom-methods:hover path {
    fill: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.popup-login-regis--main .bottom--text-privacy {
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #828282
}

.popup-login-regis--main .bottom--text-privacy a {
    color: #006ac5;
    text-decoration: underline
}

.popup-login-regis--main .bottom--text-privacy a:hover {
    color: #00b6f0
}

.password--show-hide {
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.password--show-hide a {
    display: none
}

.password--show-hide a.active {
    display: block
}

.password--show-hide img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
    -o-object-fit: scale-down;
    object-fit: scale-down
}

.text-sub--gray {
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin-bottom: 10px
}