.user-page {
    padding: 70px 0;
}
@media (max-width: 1199px) {
    .user-page {
        padding: 30px 0;
    }
}
.user-page .user-page-left {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}
.user-page .user-page-left .user-info {
    padding-bottom: 20px;
    border-bottom: 0.5px solid #717171;
}
@media (max-width: 991px) {
    .user-page .user-page-left .user-info {
        padding: 0;
    }
}
.user-page .user-page-left .user-avatar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 65px;
    flex: 0 0 65px;
    max-width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
}
.user-page .user-page-left .user-avatar img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 100%;
}
.user-page .user-page-left .user-hello {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 16px;
    line-height: 19px;
    word-break: break-word;
}
.user-page .user-page-left .user-hello .user-name {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: #3a3a3a;
    text-transform: uppercase;
}
.user-page .user-page-left .user-hello .user-mail {
    color: #707070;
}
.user-page .user-page-left .user-list-actions {
    padding: 12px 0;
}
@media (max-width: 991px) {
    .user-page .user-page-left .user-list-actions {
        padding: 0;
        padding-top: 10px;
    }
}
.user-page .user-page-left .user-list-actions .user-link-actions {
    display: block;
    padding: 12px 0;
    font-size: 14px;
    line-height: 17px;
    color: #848383;
    cursor: pointer;
}
@media (max-width: 991px) {
    .user-page .user-page-left .user-list-actions .user-link-actions {
        padding: 0;
        padding-bottom: 10px;
    }
}
.user-page .user-page-left .user-list-actions .user-link-actions:first-child .icon path {
    fill: #fff;
}
.user-page .user-page-left .user-list-actions .user-link-actions .icon {
    width: 16px;
    height: 16px;
    margin-right: 13px;
    vertical-align: middle;
    line-height: 16px;
}
.user-page .user-page-left .user-list-actions .user-link-actions .icon path,
.user-page .user-page-left .user-list-actions .user-link-actions .icon circle {
    fill: #848383;
}
.user-page .user-page-left .user-list-actions .user-link-actions.active {
    font-weight: 600;
}
.user-page .user-page-left .user-list-actions .user-link-actions.active,
.user-page .user-page-left .user-list-actions .user-link-actions:hover {
    color: #006ac5 !important;
}
.user-page .user-page-left .user-list-actions .user-link-actions.active .icon svg path,
.user-page .user-page-left .user-list-actions .user-link-actions:hover .icon svg path {
    fill: #fff;
}
.user-page .user-page-left .user-list-actions .user-link-actions.active .icon svg circle,
.user-page .user-page-left .user-list-actions .user-link-actions.active .icon.special svg path,
.user-page .user-page-left .user-list-actions .user-link-actions.active .icon.special svg rect,
.user-page .user-page-left .user-list-actions .user-link-actions:hover .icon svg circle,
.user-page .user-page-left .user-list-actions .user-link-actions:hover .icon.special svg path,
.user-page .user-page-left .user-list-actions .user-link-actions:hover .icon.special svg rect {
    fill: #006ac5;
}
.user-page .user-page-right h3.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #4a4a4a;
    margin: 0 0 15px 0;
}
@media (max-width: 767px) {
    .user-page .user-page-right h3.title {
        font-size: 17px;
        line-height: 21px;
    }
}
.user-page .user-page-right .user-information-content {
    background: #f2f2f2;
    border-radius: 7px;
    padding: 30px;
}
@media (max-width: 1199px) {
    .user-page .user-page-right .user-information-content {
        padding: 30px 15px;
    }
}
.user-page .user-page-right .user-information-content .user-information-avatar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 141px;
    flex: 0 0 141px;
    max-width: 141px;
}
@media (max-width: 767px) {
    .user-page .user-page-right .user-information-content .user-information-avatar {
        margin-bottom: 25px;
    }
}
.user-page .user-page-right .user-information-content .user-information-avatar .avatar-holder {
    position: relative;
    width: 137px;
    height: 137px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.user-page .user-page-right .user-information-content .user-information-avatar .avatar-holder img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.user-page .user-page-right .user-information-content .user-information-avatar .avatar-holder:hover .change {
    bottom: 0;
}
.user-page .user-page-right .user-information-content .user-information-avatar .change {
    position: absolute;
    z-index: 6;
    text-align: center;
    display: inline-block;
    width: 100%;
    bottom: -50px;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.user-page .user-page-right .user-information-content .user-information-avatar .change .icon {
    padding: 10px 0;
    display: block;
    position: relative;
    top: 2px;
}
.user-page .user-page-right .user-information-content .user-information-avatar #changeImg {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #4a4a4a;
    margin-top: 20px;
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    margin-left: 100px;
}
@media (max-width: 1199px) {
    .user-page .user-page-right .user-information-content .user-infomation-wrapper {
        margin-left: 50px;
    }
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .name {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 130px;
    flex: 0 0 130px;
    max-width: 130px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #4a4a4a;
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .value {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    position: relative;
}
@media (min-width: 768px) {
    .user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .value .error-message {
        position: absolute;
        bottom: -20px;
        left: 0;
    }
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .value .custom-input {
    width: 100%;
    background: #ffffff;
    border: 0.5px solid #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 13px;
    color: #3a3a3a;
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .value .custom-input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #848383;
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .value .custom-input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #848383;
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .value .custom-input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #848383;
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .value .custom-input::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #848383;
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group input[type="radio"]:checked + label span {
    border-color: #006ac5;
    background: #006ac5;
    -webkit-box-shadow: inset 0 0 0px 3px #fff;
    box-shadow: inset 0 0 0px 3px #fff;
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .box-gender {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .box-gender label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0;
    color: #4a4a4a;
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .box-gender label span {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 23px;
    flex: 0 0 23px;
    max-width: 23px;
    height: 23px;
    border: 1px solid #707070;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 20px;
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .box-gender .form-check {
    float: left;
    width: 50%;
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .gender-box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .btn-custom {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 170px;
    flex: 0 0 170px;
    max-width: 170px;
    background: #006ac5;
    border-radius: 3px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px 0;
}
.user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .btn-custom:hover {
    background: #00b6f0;
}
.user-page .user-page-right .user-information-content.user-forgotpassword .user-infomation-wrapper .form-group .name {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.user-page .user-page-right .user-information-content.user-forgotpassword .user-infomation-wrapper .form-group .box-gender {
    padding-right: 20px;
}
.user-page .user-page-right .user-information-content.user-history {
    padding: 20px;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info {
    width: 100%;
    max-width: 100%;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info .tbl_title,
.user-page .user-page-right .user-information-content.user-history .tbl_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info {
    margin-top: 10px;
    background: #ffffff;
    border-radius: 3px;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_title {
    background: #bdbdbd;
    padding: 0 25px;
    border-radius: 3px 3px 0 0;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_title .hover-tooltip {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_title .hover-tooltip:hover .div-hover {
    display: block;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_title .hover-tooltip img {
    margin-left: 5px;
    margin-top: -4px;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_title .hover-tooltip .div-hover {
    display: none;
    position: absolute;
    bottom: 30px;
    right: -18px;
    border-radius: 8px;
    background: #006ac5;
    padding: 5px 12px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-align: left;
    z-index: 11;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_title .hover-tooltip .div-hover::before {
    content: "";
    position: absolute;
    bottom: -12px;
    right: 15px;
    width: 16px;
    height: 13px;
    background: transparent url(../images/ic-arr-d.png) no-repeat;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_title span {
    color: #828282;
    padding: 8px 0;
    font-weight: 500;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_title span:first-child {
    text-align: left;
    padding-left: 0;
}
@media (min-width: 1200px) {
    .user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_title span:first-child {
        min-width: 300px;
    }
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_title span:nth-of-type(2) {
    min-width: 190px;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_row {
    margin-bottom: 0;
    border-bottom: 1px solid #828282;
    margin: 25px;
    padding-bottom: 20px;
    border-radius: 0 0 3px 3px;
}
@media (max-width: 1199px) {
    .user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_row {
        margin: 10px;
        padding-bottom: 10px;
    }
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_row span {
    color: #3a3a3a;
    padding: 9px 0;
}
@media (max-width: 1199px) {
    .user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_row span {
        padding: 5px 0;
    }
}
@media (max-width: 767px) {
    .user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_row span:before {
        display: block;
        width: 100%;
        text-align: left;
    }
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_row span:first-child {
    color: #000;
}
@media (min-width: 1200px) {
    .user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_row span:first-child {
        min-width: 300px;
        text-align: left;
    }
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_row span:nth-of-type(2) {
    min-width: 190px;
}
@media (max-width: 1199px) {
    .user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_row span {
        text-align: right;
    }
}
@media (max-width: 767px) {
    .user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_row span {
        text-align: left !important;
    }
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total {
    padding: 0 25px;
    padding-bottom: 25px;
    display: block;
    max-width: 355px;
    width: 100%;
    margin-left: auto;
}
@media (max-width: 1199px) {
    .user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total {
        padding: 0 10px;
    }
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total .head_item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 16px;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total .head_item .name {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    text-align: left;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total .head_item .value {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total .head_item .value.red {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #e00008;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total .head_item .vat {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: right;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total .sub_total_head,
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total .sub_bottom_total {
    background: #fff;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total .sub_bottom_total {
    border-top: 2px solid #ffffff;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total .btn-custom {
    float: right;
    margin-top: 10px;
}
.user-page .user-page-right .user-information-content.user-history .tbl_row {
    background: #ffffff;
    border-radius: 3px;
    margin-bottom: 11px;
}
.user-page .user-page-right .user-information-content.user-history .tbl_row.has-child .toggle-icon {
    position: absolute;
    width: 14px;
    height: 12px;
    background: url(../images/ic-arrow-up.png) no-repeat center center;
    top: 18px;
    left: 15px;
}
.user-page .user-page-right .user-information-content.user-history .tbl_row.has-child.opened .toggle-icon {
    background: url(../images/ic-arrow-down.png) no-repeat center center;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info .tbl_title span,
.user-page .user-page-right .user-information-content.user-history .tbl_row span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    line-height: 19px;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info .tbl_title span,
.user-page .user-page-right .user-information-content.user-history .tbl_info .sub_tbl .sub_tbl-content p.title {
    font-weight: bold;
    color: #3a3a3a;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info .sub_tbl .sub_tbl-content p.title {
    font-size: 16px;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info .sub_tbl {
    display: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 2px;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info .tbl_row.opened .sub_tbl {
    display: block;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info .sub_tbl .sub_tbl-content {
    background: #f2f2f2;
    padding: 25px 10px;
}
@media (max-width: 767px) {
    .user-page .user-page-right .user-information-content.user-history .tbl_info .sub_tbl .sub_tbl-content {
        padding: 10px;
    }
}
.user-page .user-page-right .user-information-content.user-history .tbl_info .sub_tbl .sub_tbl-content p.title,
.user-page .user-page-right .user-information-content.user-history .tbl_info .sub_tbl .sub_tbl-content .order-name {
    margin-bottom: 5px;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info .sub_tbl .sub_tbl-content .order-name {
    color: #006ac5;
    text-transform: uppercase;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info .sub_tbl .sub_tbl-content table {
    width: 100%;
    table-layout: fixed;
}
.user-page .user-page-right .user-information-content.user-history .tbl_info .sub_tbl .sub_tbl-content table td {
    font-size: 16px;
    color: #3a3a3a;
    overflow: hidden;
    vertical-align: baseline;
}
@media (max-width: 767px) {
    .user-page .user-page-right .user-information-content.user-history .tbl_info .sub_tbl .sub_tbl-content table td {
        font-size: 14px;
    }
}
.user-page .user-page-right .user-information-content.user-history .tbl_info .sub_tbl .sub_tbl-content table td:first-child {
    width: 27%;
}
.user-page .user-page-right .user-information-content.user-history .paging-custom {
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.user-page .user-page-right .user-information-content.user-history .paging-custom i {
    font-style: normal;
}
.user-page .user-page-right .user-information-content.user-history .paging-custom .custom-select2 {
    display: inline-block;
    padding: 0 6px;
    width: 45px;
    position: relative;
}
.user-page .user-page-right .user-information-content.user-history .paging-custom .custom-select2::after {
    content: "";
    background: url("../images/ic-select-down.png") no-repeat center center;
    width: 7px;
    height: 4px;
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 6px;
    z-index: 1;
}
.user-page .user-page-right .user-information-content.user-history .paging-custom .paging-option select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    outline: none;
    width: 100%;
    position: relative;
    z-index: 2;
}
.user-page .user-page-right .user-information-content.user-history .paging-custom .paging-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.user-page .user-page-right .user-information-content.user-history .paging-custom .paging-number > i,
.user-page .user-page-right .user-information-content.user-history .paging-custom .paging-number a {
    margin-left: 15px;
    color: #848383;
}
.user-page .user-page-right .user-information-content.user-history .paging-custom .paging-number a:hover .icon svg path,
.user-page .user-page-right .user-information-content.user-history .paging-custom .paging-number a.active .icon svg path {
    fill: #006ac5;
}
.user-page .user-page-right .user-information-content.user-history .status {
    font-weight: 600;
}
.user-page .user-page-right .user-information-content.user-history .status.orange {
    color: #fd6a00;
}
.user-page .user-page-right .user-information-content.user-history .status.green {
    color: #349543;
}
.user-page .user-page-right .user-information-content.user-history .status.purple {
    color: #9b51e0;
}
@media (max-width: 1199px) {
    .user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .gender-box {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .btn-custom {
        margin: 0 auto;
    }
}
@media (max-width: 1199px) {
    .user-page .user-page-right .user-information-content.user-history .tbl_info .tbl_title {
        display: none;
    }
    .user-page .user-page-right .user-information-content.user-history .tbl_row {
        padding: 5px;
    }
    .user-page .user-page-right .user-information-content.user-history .tbl_row.has-child .toggle-icon {
        top: 10px;
        right: 10px;
        left: auto;
    }
    .user-page .user-page-right .user-information-content.user-history .tbl_info span {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: right;
        padding: 5px 10px;
        font-size: 14px;
    }
    .user-page .user-page-right .user-information-content.user-history .tbl_info span:first-child {
        padding-top: 30px;
    }
    .user-page .user-page-right .user-information-content.user-history .tbl_info span:before {
        content: attr(data-title);
        float: left;
        font-weight: 700;
    }
    .user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .tbl_row {
        border-bottom: 2px solid #eaecf4;
    }
}
@media (max-width: 767px) {
    .user-page .user-page-right .user-information-content,
    .user-page .user-page-right .user-information-content.user-forgotpassword {
        padding: 20px;
    }
    .user-page .user-page-right .user-information-content .user-infomation-wrapper,
    .user-page .user-page-right .user-information-content.user-forgotpassword .user-infomation-wrapper {
        margin: 0;
    }
    .user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group,
    .user-page .user-page-right .user-information-content.user-forgotpassword .user-infomation-wrapper .form-group {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .value,
    .user-page .user-page-right .user-information-content.user-forgotpassword .user-infomation-wrapper .form-group .value {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .name,
    .user-page .user-page-right .user-information-content .user-infomation-wrapper .form-group .box-gender,
    .user-page .user-page-right .user-information-content.user-forgotpassword .user-infomation-wrapper .form-group .name,
    .user-page .user-page-right .user-information-content.user-forgotpassword .user-infomation-wrapper .form-group .box-gender {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
        padding-right: 0;
    }
    .user-page .user-page-right .user-information-content .user-information-avatar,
    .user-page .user-page-right .user-information-content .user-infomation-wrapper {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total .head_item .name,
    .user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total .head_item .value {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 480px) {
    .user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total > div {
        font-size: 13px;
    }
    .user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total .head_item {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total .name,
    .user-page .user-page-right .user-information-content.user-history .tbl_info.sub_tbl_info .sub_total .value {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
}
.blue {
    color: #00b6f0;
}
.user-page .user-page-right .user-information-content.user-history .tbl_row span.total-val-1 {
    font-weight: 600 !important;
}
@media (min-width: 768px) {
    .form-updated .form--group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
}
.form-updated .form--group:not(:last-child) {
    border-bottom: 1px solid #acacac;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
@media (max-width: 1199px) {
    .form-updated .form--group:not(:last-child) {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
}
.form-updated .form--group .title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4a4a4a;
    max-width: 160px;
    min-width: 160px;
    margin-right: 25px;
}
.form-updated .form--group .name {
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.form-updated .btn-submit--update {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    background-color: #ed0b4c;
    border-color: #ed0b4c;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 16px 8px;
    min-width: 310px;
    margin-top: 40px;
}
@media (max-width: 1199px) {
    .form-updated .btn-submit--update {
        font-size: 18px;
        padding: 8px 8px;
        min-width: -webkit-max-content;
        min-width: -moz-max-content;
        min-width: max-content;
        margin-top: 20px;
    }
}
@media (max-width: 767px) {
    .form-updated .btn-submit--update {
        min-width: 100%;
    }
}
.form-updated .btn-submit--update:hover {
    background-color: #c80940;
    border-color: #bc093c;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.paginate--custom {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
}
.paginate--item {
    display: inline-block;
    font-size: 15px;
    text-align: center;
    color: #000;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin: 0 2px;
}
.paginate--item-active,
.paginate--item:hover {
    background: #fff;
    border: 1px solid #006ac5;
}
.paginate--item-arrow {
    margin: 0 10px;
}
.user--services-manage {
    background: #f2f2f2;
    border-radius: 8px;
    padding: 32px 16px;
}
@media (max-width: 991px) {
    .user--services-manage {
        padding: 10px;
    }
}

/*course manager*/
.user--services-manage {
    background: #f2f2f2;
    border-radius: 8px;
    padding: 32px 16px;
}
@media (max-width: 991px) {
    .user--services-manage {
        padding: 10px;
    }
}

.card-services {
    position: relative;
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15)
}

.card-services:not(:last-child) {
    margin-bottom: 16px
}

.card-services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 100%
}

.card-services--status-red::before {
    background: #e90000
}

.card-services--status-blue::before {
    background: #00b6f0
}

.card-services--header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: 1px solid #bdbdbd;
    padding: 12px 24px 8px
}

@media (max-width: 767px) {
    .card-services--header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        padding: 16px
    }
}

.card-services--header-title .title {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #006ac5;
    margin-bottom: 5px
}

@media (max-width: 767px) {
    .card-services--header-title .title {
        font-size: 14px
    }
}

.card-services--header-title .sub {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #3a3a3a;
    margin-bottom: 5px
}

@media (max-width: 767px) {
    .card-services--header-title .sub {
        font-size: 14px
    }
}

.card-services--header-ticket {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #3a3a3a;
    text-align: right;
    margin-left: auto
}

@media (max-width: 767px) {
    .card-services--header-ticket {
        font-size: 14px
    }
}

.card-services--entry {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 16px 24px
}

@media (max-width: 767px) {
    .card-services--entry {
        padding: 16px
    }
}

.card-services--entry-user {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 15px
}

@media (max-width: 1199px) {
    .card-services--entry-user {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        width: 100%;
        margin-bottom: 15px
    }
}

.card-services--entry-user .title {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    text-align: center;
    margin-bottom: 15px
}

@media (max-width: 767px) {
    .card-services--entry-user .title {
        font-size: 14px
    }
}

.card-services--entry-user .information--user li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.card-services--entry-user .information--user li:not(:last-child) {
    margin-bottom: 5px
}

.card-services--entry-user .information--user .cate, .card-services--entry-user .information--user .name {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000
}

@media (max-width: 767px) {
    .card-services--entry-user .information--user .cate, .card-services--entry-user .information--user .name {
        font-size: 14px;
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        width: 100%
    }
}

.card-services--entry-user .information--user .cate {
    min-width: 100px;
    margin-right: 10px
}

.card-services--entry-user .information--user .name {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.card-services--entry-info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

@media (min-width: 1200px) {
    .card-services--entry-info {
        padding: 5px 5px;
    }
}

@media (max-width: 1199px) {
    .card-services--entry-info {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        width: 100%
    }
}

.card-services--entry-info .title {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    text-align: center;
    margin-bottom: 15px
}

@media (max-width: 767px) {
    .card-services--entry-info .title {
        font-size: 14px
    }
}

.card-services--entry-info .time-percent {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px
}

.card-services--entry-info .time-percent .percent {
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #3a3a3a
}

.card-services--entry-info .time-percent .time {
    display: block;
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #848383;
    margin-left: auto
}

@media (max-width: 767px) {
    .card-services--entry-info .time-percent .time {
        font-size: 14px
    }
}

.card-services--entry-info .progress {
    display: block;
    background: #e0e0e0;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    height: 7px;
    margin-bottom: 8px
}

.card-services--entry-info .progress-before {
    position: relative;
    height: 100%;
    width: 100%
}

.card-services--entry-info .progress-before::before {
    content: "";
    position: absolute;
    background: #006ac5;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}

.card-services--entry-info .time-used {
    display: block;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #848383;
    margin-bottom: 8px
}

@media (max-width: 767px) {
    .card-services--entry-info .time-used {
        font-size: 14px
    }
}

.card-services--entry-info .time-half {
    display: block;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #848383
}

@media (max-width: 767px) {
    .card-services--entry-info .time-half {
        font-size: 14px
    }
}

.card-services--entry-info .time-half img {
    display: inline-block;
    margin-right: 5px
}

@media (min-width: 1200px) {
    .card-services--entry-info .box-btn {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
}

@media (max-width: 991px) {
    .card-services--entry-info .box-btn {
        margin-top: 10px
    }
}

@media (max-width: 575px) {
    .card-services--entry-info .box-btn {
        max-width: 100%;
        width: 100%
    }
}

.card-services--entry-info .box-btn [class*="btn--action"] {
    min-width: 150px;
    max-width: 180px;
    width: 100%;
    text-align: center;
    padding: 9px
}

@media (max-width: 575px) {
    .card-services--entry-info .box-btn [class*="btn--action"] {
        max-width: 100%;
        width: 100%
    }
}

.card-services--entry-info .btn--action-card {
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    background: #006ac5;
    border: 1px solid #006ac5;
    border-radius: 4px;
    padding: 10px 37px
}

@media (max-width: 767px) {
    .card-services--entry-info .btn--action-card {
        font-size: 12px;
        padding: 5px 20px
    }
}

.card-services--entry-info .btn--action-card:hover {
    background: #00b6f0;
    border: 1px solid #00b6f0
}

.card-services--entry-info .btn--action-update {
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #006ac5;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid currentColor;
    border-radius: 4px;
    padding: 10px 37px
}

@media (max-width: 767px) {
    .card-services--entry-info .btn--action-update {
        font-size: 12px;
        padding: 5px 20px
    }
}

.card-services--entry-info .btn--action-update:hover {
    background: #00b6f0;
    border: 1px solid #00b6f0;
    color: #fff
}

.card-services--entry-info .package-reuse {
    display: block;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-top: 8px
}

@media (max-width: 767px) {
    .card-services--entry-info .package-reuse {
        font-size: 14px
    }
}

.card-services--entry-info .package-reuse a {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #006ac5
}

@media (max-width: 767px) {
    .card-services--entry-info .package-reuse a {
        font-size: 14px
    }
}