<template>
  <div id="WarehouseApp">
    <router-view></router-view>
  </div>
</template>
<script>
// import TagEdit from './TagEdit.vue'
export default {
  name: 'WarehouseApp',
  components: {},
  data() {
    return {};
  },
  computed: {},
  mounted() {},

  methods: {},
}; // End class
</script>